@{
    ViewBag.Title = "Zarejestrowano";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Aktywuj swoje konto żeby móc korzystać z aplikacji         
            </p>
        </div>
    </section>
}

